<footer class="border-top bg-light py-5">
  <!-- Contenido del pie de página común a todas las páginas -->
  <div class="container">
    <div class="row">
      <div class="col-12 text-center">
        El pie de página
      </div>
    </div>
  </div>
</footer>

{% include "includes/scripts.twig" %}
</body>

</html>