<!-- base.twig -->
<!DOCTYPE html>
<html>

<head>
  <base href="{{ get_base_url() }}">
  <title>{% block title %}{{ title }}{% endblock %}</title>

  {% include "includes/styles.twig" %}
</head>
<body>
