<!-- Contenido del encabezado común a todas las páginas -->
<div class="border-bottom bg-white py-2">
  <div class="container">
    <header class="d-flex justify-content-center py-3">
      <ul class="nav nav-pills">
        <li class="nav-item"><a href="bee" class="nav-link">Inicio</a></li>
        <li class="nav-item"><a href="bee/twig" class="nav-link active" aria-current="page">Twig</a></li>
        <li class="nav-item"><a href="https://twig.symfony.com/" class="nav-link">Documentación</a></li>
      </ul>
    </header>
  </div>
</div>
