<!DOCTYPE html>
<html>
<head>
    <title>{{ title }}</title>
</head>
<body>
    <h1>¡Hola, {{ name }}!</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Pariatur, maxime.</p>
</body>
</html>